body {
  font-family: "Zilla Slab", "Times New Roman", Times, serif;
  color: #000;
  background: #f1f1f1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Inter Tight", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #000;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
a{
  color: #647eff;
  text-decoration: none;
}
a:focus{
  text-decoration: underline;
}